.editing-form {
    width: 550px;
    /* height: auto; */
    position: absolute;
    z-index: 1;
    top: 15px;
    /* left: -46px; */
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    padding: 40px 0;
    /* box-sizing: border-box; */
}
.editing-form .editing-form__title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Literata Book;
}
.editing-form .editing-form__information {
    width: 70%;
    height: 30px;
    margin: 20px auto 0;
    /* margin-bottom: 20px; */
    padding-left: 10px;
}
.editing-form .editing-form__information::placeholder{
    font-family: Literata Book;
    font-size: 17px;
}
.editing-form .editing-form__information.editing-form__information--description{
    padding-top:6px;
    height: 80px;
}
.upload-input{
    opacity: 0;
}
.editing-form .editing-form__upload-picture {

height: 33px;

padding: 9px 8px 0 8px;

background: rgb(65, 65, 65);

font-size: 19px;

font-family: Literata Book;

width: 200px;

color: rgb(255, 255, 255);

margin: 20px auto;
}
.preview {
    max-width: 100px;
    margin: 0 auto;
}

.editing-form .editing-form__submit-post{
    font-size: 35px;
    color:#a8a8a8;
    margin: 50px 0 0 500px;
    border: none;
    cursor: pointer;
    background: none;
}
.editing-form .editing-form__close-form{
    color: #5e5e5e;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}