.gallery-management {
    display: flex;
}
.gallery-management .gallery-management__button {
    font-size: 32px;
    border: none;
    background: #ffffff;
    color: #686868;
    cursor: pointer;
    margin-right: 15px;
}
.gallery-management .gallery-management__delete-options{
    display: none;
}
.gallery-management .gallery-management__sort-options{
    display: none;
}
