.main .main__list-editing {
    position: fixed;
    top: 200px;
    display: none;
    left: 35%;
}

@media (min-width: 840px) and (max-width: 1200px){
    .main .main__list-editing {
        left: 27%;
    }
}
@media (max-width: 840px){
    .main .main__list-editing {
        left: 20%;
    }
}