.option__delete {
    font-size: 25px;
    border: none;
    height: 34px;
    background: #ffffff;
    color: #686868;
    cursor: pointer;
    margin-left: 10px;
}
.option__sort.option__sort--sorting-conditions{
    width: 130px;
    height: 32px;
    margin: 0 10px;
}
.option__sort.option__sort--execute{
    font-size: 25px;
    color: #686868;
}